<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/adminLayout :: adminLayoutHead('Listado de Productos')}"></head>
<body th:replace="~{fragments/adminLayout :: adminLayout(~{::content})}">

<div th:fragment="content">
  <section class="dashboard">
    <h1 class="heading">Dashboard</h1>

    <div class="grid-container">

      <article class="dashboard-card">
        <h2>S/ <span th:text="${totalPendings}">0</span></h2>
        <p>Total de pendientes</p>
        <a th:href="@{/admin/orders}" class="btn">Ver Pedidos</a>
      </article>

      <article class="dashboard-card">
        <h2>S/ <span th:text="${totalCompletes}">0</span></h2>
        <p>Pedidos Completados</p>
        <a th:href="@{/admin/orders}" class="btn">Ver Pedidos</a>
      </article>

      <article class="dashboard-card">
        <h2 th:text="${numberOfOrders}">0</h2>
        <p>Pedidos realizados</p>
        <a th:href="@{/admin/orders}" class="btn">Ver Pedidos</a>
      </article>

      <article class="dashboard-card">
        <h2 th:text="${numberOfProducts}">0</h2>
        <p>Productos añadidos</p>
        <a th:href="@{/admin/products}" class="btn">Ver Productos</a>
      </article>

      <article class="dashboard-card">
        <h2 th:text="${numberOfUsers}">0</h2>
        <p>Usuarios</p>
        <a th:href="@{/admin/users}" class="btn">Ver Usuarios</a>
      </article>

      <article class="dashboard-card">
        <h2 th:text="${numberOfAdmins}">0</h2>
        <p>Admins</p>
        <a th:href="@{/admin/accounts}" class="btn">Ver Admins</a>
      </article>

    </div>
  </section>
</div>

</body>
</html>
