<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" th:href="@{/css/admin/index.css}">
    <link rel="stylesheet" th:href="@{/css/admin/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/footer.css}">
</head>
<body>

<div th:insert="~{fragments/adminHeader :: adminHeader}"></div>

<main class="main-content">
    <h1>Registrar Producto</h1>
    <!-- <form th:action="@{/admin/products/add}" th:object="${product}" method="post"> -->
    <form th:action="@{/admin/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">

        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" th:field="*{name}">
        </div>
        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" th:field="*{description}"></textarea>
        </div>
        <div>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" th:field="*{price}" step="0.01">
        </div>
        <div>
            <label for="category">Categoría:</label>
            <select id="category" name="category" required>
                <option value="pizzas">Pizzas</option>
                <option value="pastas">Pastas</option>
                <option value="bebidas">Bebidas</option>
                <option value="extras">Extras</option>
            </select>
        </div>

        <div>
            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <div>
            <button type="submit">Guardar</button>
        </div>
    </form>
</main>

<div th:insert="~{fragments/adminFooter :: adminFooter}"></div>

</body>
</html>
