<div th:fragment="header">
    <header class="header">
        <section class="header-container">
            <a href="/" th:href="@{/}" class="logo"><span>D</span>iego´s <span>P</span>izza.</a>

            <nav class="navbar" id="navbar">
                <a th:href="@{/}" class="nav-link">Inicio</a>
                <a th:href="@{/#about}" class="nav-link">Nosotros</a>
                <a th:href="@{/menu}" class="nav-link">Menú</a>
                <a th:href="@{/orders}" class="nav-link">Pedidos</a>
                <a th:href="@{/#faq}" class="nav-link">FAQ</a>
            </nav>

            <div class="icons">
                <button id="menu-btn" class="fas fa-bars icon-btn menu-btn" aria-label="Menú"></button>

                <!-- Verificar si el usuario está autenticado -->
                <div th:if="${#authentication.principal != null}">
                    <!-- Si está autenticado, mostrar el perfil -->
                    <a th:href="${#authentication.authorities.contains('admin') ? '/admin' : '/user'}"
                       class="fas fa-user icon-btn tooltip"
                       aria-label="Ver Perfil">
                        <span class="tooltip-text" th:text="${#authentication.name}">Ver Perfil</span>
                    </a>
                </div>

                <!-- Si no está autenticado, mostrar el enlace de login -->
                <div th:if="${#authentication.principal == null}">
                    <a href="/login" th:href="@{/login}" class="fas fa-user icon-btn tooltip" aria-label="Iniciar sesión">
                        <span class="tooltip-text">Login</span>
                    </a>
                </div>
                <div th:if="${#authentication.principal == null}">
                    <a href="/register" th:href="@{/register}" class="fas fa-user-circle icon-btn tooltip" aria-label="Registrar">
                        <span class="tooltip-text">Registrar</span>
                    </a>
                </div>

                <a href="/orders" th:href="@{/orders}" class="fas fa-box icon-btn tooltip" aria-label="Mis pedidos">
                    <span class="tooltip-text">Pedidos</span>
                </a>

                <a href="/cart" th:href="@{/cart}" class="fas fa-shopping-cart icon-btn tooltip" aria-label="Carrito">
                    <span class="cart-count" th:text="'(' + ${cartCount != null ? cartCount : 0} + ')'">(0)</span>
                    <span class="tooltip-text">Carrito</span>
                </a>
            </div>
            <div th:if="${#authentication.principal != null}">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-button">Cerrar sesión</button>
                </form>
            </div>
        </section>
    </header>
</div>